h1 {color: ;}
h2 {color: #f90806;}
body {background-color:white;}

p {color: black;}

.bodycopy
{color: black;}

div {color: black;}

h2 {background-color: black;}

p{
font-family: 'Poppins', sans-serif;
}

li{
font-family: 'Darker Grotesque', sans-serif;
}